<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.innohawk.dan"
    android:versionCode="110"
    android:versionName="1.1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="23" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.innohawk.dan.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Necesario para Events-->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <!-- GCM Push Notifications -->
    <!-- GCM requires a Google account. -->
    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS" />-->
    <!-- Keeps the processor from sleeping when a message is received. -->
   <!-- <uses-permission android:name="android.permission.WAKE_LOCK" />-->
    <!-- Creates a custom permission so only this app can receive its messages. -->
    <!--<uses-permission android:name="com.innohawk.dan.permission.C2D_MESSAGE" />-->
    <!-- This app has permission to register and receive data message. -->
   <!-- <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />-->
    <!-- End Push GCM -->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <!-- Facebook APP ID http://developers.facebook.com/android/ -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="fb2055005858044375" />

        <!-- Google API Key https://code.google.com/apis/console/ Services "Google Maps Android API" -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBLc3uwSeE-DkCYQeQQU7_hPcCLH0bV02c" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

       <!-- <activity
            android:name="com.innohawk.dan.Main"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                    android:windowSoftInputMode="stateHidden"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->

        <activity
            android:name=".customSplash.SplashInitMain"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.innohawk.dan.Main"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <!-- End TEST -->

        <activity
            android:name="com.innohawk.dan.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.videos_custom.VideosActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.home.HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.SiteAddActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.home.WebPageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.UserPickerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.CountryPickerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.helps.AboutActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.helps.ActivityHelps"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.status.StatusMessageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.location.LocationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.mail.MailHomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.mail.MailMessagesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.mail.MailMessageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.mail.MailComposeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.friends.FriendsHomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.friends.FriendsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.friends.FriendRequestsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.profile.ProfileActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.profile.ProfileInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.media.ImagesAlbumsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.media.ImagesFilesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.media.VideosAlbumsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.media.VideosFilesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.media.SoundsAlbumsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.media.SoundsFilesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.media.ImagesGallery"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.media.AddImageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.media.AddVideoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.search.SearchHomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.search.SearchKeywordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.search.SearchResultsKeywordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.search.SearchNearMeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.search.SearchResultsNearMeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.search.SearchLocationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.search.SearchResultsLocationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.ChatTab.ChatActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.VideosTab.VideosActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.NewsTab.NewsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.MenuTab.MenuTabActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.Notify.NotifyActiviy"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.splash.IntroductionPage"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.innohawk.dan.register.SignupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.innohawk.dan.helps.HelpActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.profile.ProfileMyInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.activitymaps.ActivityMaps"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.activitymaps.ActivityMapsList"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.activitymaps.ActivityMapsFilter"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.activitymaps.ActivityMapsDispensaries"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.activitymaps.ActivityMapsDispensariesRate"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innohawk.dan.activitymaps.ActivityMapsDispensariesRateView"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.innohawk.dan.activityDropMenu.ActivityDropMenu"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.innohawk.dan.search.SearchHeaderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" />

        <!-- RECEIVER -->
        <!--<receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.innohawk.dan" />
            </intent-filter>
        </receiver>-->

        <!-- LISTENER -->
        <!--<service
            android:name="com.innohawk.dan.notification.GcmListenerActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>-->

        <!-- INSTANCE ID LISTENER -->
        <!--<service
            android:name="com.innohawk.dan.notification.GcmInstanceIDActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>-->
        <!-- Firebase Notifications -->
        <service android:name="com.innohawk.dan.notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="com.innohawk.dan.notification.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->
    </application>

</manifest>
